@import "tailwindcss";
@import "tailwindcss";
/* @plugin "flyonui"; */
@plugin "flyonui" {
  themes: all;
}
@plugin "@iconify/tailwind4";
@import "../../node_modules/flyonui/variants.css";
@source "../../node_modules/flyonui/dist/index.js";

.custom-title-bar {
  /* -webkit-app-region: drag;  */
}

#btn-close,
#btn-minimize,
#btn-maximize {
  /* -webkit-app-region: no-drag; */
}
